
    <h2>Create an Account</h2>

    <%= form_for @account do |f| %>
    <%= f.fields_for :owner do |owner| %>
    <%= owner.label :first_name%>
    <%= owner.text_field :first_name %>
    <%= owner.label :last_name%>
    <%= owner.text_field :last_name %>
    <%= owner.text_field :username %>
    <%= owner.label :username%>
    <%= owner.label :email%>
    <%= owner.email_field :email %>
    <%= owner.label :password%>
    <%= owner.password_field :password %>
    <%= owner.label :password_confirmation%>
    <%= owner.password_field :password_confirmation %>
    <% end %>
    <%= f.label :subdomain%>
    <%= f.text_field :subdomain%>
    <%= f.submit "submit" %>
    <% end %>
